:root{
  --bg-purple: #9792e4;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  border: 1px solid black;
}

header{
  height: 75px;
  background-color: #0084fd;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

body{
  font-family: 'PT Sans', sans-serif;
}

main{
  margin-top: 50px;
}
/* elementi generici */

.container{
  width: 100%;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col{
  width: 100%;
} */

.row .col{
  padding: 0 20px;
}

.container .row{
  padding: 15px 0;
}

/* UTILITIES */

.d-flex{
  display: flex;
}

.wrap{
  flex-wrap: wrap;
}

/* da applicare alla row dell'header così non wrappa */
.flex-no-wrap{
  flex-wrap: nowrap;
}

.justify-center{
  justify-content: center;
}

.sp-between{
  justify-content: space-between;
}

.al-it-center{
  align-items: center;
}

.dir-col{
  flex-direction: column;
}

.pt-50{
  padding-top: 50px;
}
/* SEZIONI */

/* HEADER */

header .container{
  line-height: 75px;
  padding: 0 30px 0;
}

header .menu-desktop{
  display: none;
}

/* SERVICES */

#services .container .row .col{
  height: 500px;
  width: 100%;
  padding: 13px 20px;
}

#services .container .row .col .content{
  background-color: #b5ddff;
  height: 100%;
  border-radius: 5%;
}


/* TEAMS */

#teams{
  background-color: var(--bg-purple);
}

#teams .container .col{
  height: 500px;
  width: 100%;
  padding: 0 20px 20px;
}

#teams .col .content{
  height: 100%;
  /* background-color: white; */
}


#teams .col .content.development{
  border-radius: 5%;
  background-color: white;
  height: 70%;
}

/* TESTIMONIALS */

#testimonials{
  margin-bottom: 75px;
}

#testimonials .container .row .intro{
  padding: 0 20px;
  height: 200px;
}

#testimonials .container .card {
  height: 300px;
  background-color: var(--bg-purple);
  border-radius: 10%;
}


/* BENEFITS */

#benefits{
  background-color: var(--bg-purple);
  margin-bottom: 40px;
}
#benefits .container h2{
  display: block;
}

#benefits .container .col .card{
  height: 400px;
  width: 310px;
  background-color: white;
  border-radius: 10%;
}

/* ABOUT US */


#about-us .container .row .col .content-about,
#about-us .container .row .col .profile-about{
  padding: 10px 0;
}

/* GET STARTED */

#get-started{
  background-color: var(--bg-purple);
  height: 615px;
}

/* FOOTER */

footer{
  background-color: #333333;
  height: 230px;
}

footer .container{
  padding:  35px 30px;
}


/* RESPONSIVE */

/* TABLET 768 PX */
@media screen and (min-width: 768px){
  .container{
    width: 720px;
  }
  header .container{
    padding: 0;
  }
  #services .row{
    flex-direction:row;
  }
  #services .container .row .col{
    width: calc(100% / 3);
    padding: 10px;
  }
  #services .container .row .col:first-child{
    width: calc(100% / 1.5);
  }
  #testimonials .container .card:first-child {
    width: 20%;
  }
  #testimonials .container .card:last-child {
    width: 80%;
  }


  /* TESTIMONIALS */
  #testimonials .container .row .col .card{
    display: flex;
  }
  /* BENEFITS */
  #benefits .container {
    display: flex;
    flex-wrap: wrap;
  }
  /* qui la benefit col ha il 50% di width */

  /* about us la col first child ha width 60% e la lst child ha 40% width */
}

/* DESKTOP 1200 PX */
@media screen and (min-width: 1200px){
  .container{
    width: 1140px;
  }
  .menu-mobile{
    display: none;
  }
  header .menu-desktop{
    display: block;
  }
  /* teams */
  #teams .container{
    flex-direction: row;
  }
  #teams .col .content.development{
    margin-top: 140px;
  }
  /* benefit col ha calc 100% / 3 */

  /* about us la col first child ha width 70% e la lst child ha 30% width */
}