:root{
  --purple: #9792e4;
  --blue: #0084fd;
  --light-blue: #b5ddff;
  --purple: #9792e4;
  --bg-footer: #333333;
  --text-general: #303030;
  --text-on-white: #737373;

}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans', sans-serif;
}

main{
  margin-top: 75px;
}

img{
  width: 100%;
}

/* debug */
.debug{
  border: 1px solid black;
}

/* layout */
.container{
  width: 100%;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col{
  width: 100%;
  /* padding: 10px; */
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.flex-nowrap{
  flex-wrap: nowrap;
}

.pt-50{
  padding-top: 50px;
}


/* display */
.d-flex{
  display: flex;
}

.d-none{
  display: none;
}

/* typobragraphy */
.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

/* elements */

.btn{
  padding: 10px 15px;
  background-color: white;
  color: black;
  border-radius: 20px;
}

/* sections */

/* HEADER */
header{
  width: 100%;
  height: 75px;
  background-color: var(--blue);
  color: white;
  position: fixed;
  top: 0;
}

header .container .row{
  margin: 0 30px;
  padding: 15px 0;
}

header img{
  width: 80px;
}

header .col:first-child {
  vertical-align: middle;
}

header nav ul{
  justify-content: flex-end;
  list-style: none;
}

header nav ul li{
  padding: 10px 15px;
}

header nav ul li a{
  text-decoration: none;
  color: white;
}

header nav ul li.btn a{
  color: black;
}

/* DEMO */
#demo .container .row .col {
  background-color: var(--light-blue);
  border-radius: 10px;
  margin: 0px 30px 20px; /*capire come mettere il laterale senza far spaccare tutto*/
  padding: 40px 30px;
}
#demo .container .row .col:first-child {
  padding-bottom: 0;
}

#demo h2{
  color: var(--blue);
}

#demo p{
  color: var(--text-general);
}
#demo .div-btn{
  padding: 20px 0;
}

#demo .btn {
  padding: 10px 80px;
  background-color: var(--blue);
  text-decoration: none;
  color: white;
}

#demo .btn i{
  margin-right: 10px;
}

#demo .container .row .col .content{
  text-align: center;
}
#demo .container .row .col:first-child .content{
  text-align: left;
}

#demo .fa-solid{
  font-size: 65px;
  color: var(--blue);
}

/* STRATEGIC */
#strategic{
  background-color: var(--purple);
}

#strategic .container .row .col {
  margin: 0px 30px 20px;
}

#strategic .container .row .col h2{
  font-size: 2rem;
}

#strategic .container .row .col p{
  padding: 50px 0 25px;
}

#strategic .container .row .col:first-child {
  color: white;
}

#strategic .container .row .col:last-child {
  background-color: white;
  border-radius: 40px;
  color: var(--text-general);
  text-align: center;
}

#strategic .container .row .col .card p{
  padding: 10px 20px;
}

#strategic .arrow i{
  background-color: var(--purple);
  padding: 10px;
  margin: 20px;
  border-radius: 50%;
}

/* TESTIMONIALS */

#testimonials{
  padding-bottom: 50px;
}

#testimonials h2{
  color: var(--purple);
}

#testimonials .container .row {
  margin: 0px 30px 20px;
  justify-content: center;
}


#testimonials .card .row{
  background-color: var(--purple);
  border-radius: 40px;
  color: white;
  padding: 20px;
}

#testimonials .card img{
  width: 50%;
  border-radius: 50%;
  padding-bottom: 30px;
}

#testimonials .card h3{
  padding-top: 20px;
}

/* BENEFITS */

#benefits{
  background-color: var(--purple);
  padding-bottom: 50px;
}

#benefits h1{
  color: white;
  margin-bottom: 50px;
  font-size: 1.8rem;
}

#benefits .container .row .col{
  background-color: white;
  border-radius: 20px;
  margin: 0px 30px 20px;
  padding: 20px 25px 20px;
}

#benefits .container .row .col h2{
  color: var(--purple);
  padding-bottom: 10px;
}
#benefits .container .row .col h2:first-child{
  font-size: 3rem;
}

#benefits .container .row .col p{
  color: var(--text-on-white);
}

#benefits .div-btn{
  padding: 20px 0;
}

#benefits .btn{
  background-color: var(--purple);
  color: white;
  text-decoration: none;
  padding: 5px 50px;
}

/* ABOUT US */

#aboutus{
  padding-bottom: 50px;
}

#aboutus h2{
  color: var(--purple);
  font-size: 2.5rem;
}

#aboutus p{
  padding: 20px 0;
  line-height: 2;
}

#aboutus .container .row {
  margin: 0px 30px 20px;
}

#aboutus img{
  width: 50%;
  border-radius: 50%;
}

#aboutus .container .col .fa-quote-left{
  position: absolute;
  font-size: 4rem;
  color: var(--purple);
}

#aboutus h3{
  color: var(--purple);
  font-size: 1.5rem
}

#aboutus .div-btn{
  padding: 20px 0;
}

#aboutus .btn{
  background-color: var(--purple);
  color: white;
  text-decoration: none;
  padding: 5px 20px;
}

#aboutus .btn i{
  margin-right: 10px;
}

/* GET STARTED */

#getstarted{
  background-color: var(--purple);
}

#getstarted .container .content {
  padding: 0px 30px 50px;
}

#getstarted .container .content h4{
  color: #d1d0f3;
  font-weight: 300;
}

#getstarted .container .content h3{
  color: white;
  font-size: 1.7rem;
}

#getstarted .container .content h2{
  color: #fdc15f;
  font-size: 3.3rem;
}

#getstarted .container .content p{
  color: white;
}

#getstarted .div-btn{
  padding: 20px 0;
}

#getstarted .btn{
  background-color: white;
  color: var(--purple);
  text-decoration: none;
  padding: 10px 50px;
}

#getstarted p{
  padding: 20px 0;
}

#getstarted a{
  color: white;
}

/* FOOTER */

footer{
  background-color: #333333;
  color: white;
  height: 230px;
  padding: 40px 30px 40px;
}

footer .content p:first-child{
  padding-bottom: 70px;
}

footer a{
  color: var(--purple);
}

/* RESPONSIVE */

/* tablet */
@media (min-width: 768px){
  .container{
    width: 720px;
  }  
  header .container .row{
    margin: 0 ;
  }
  #demo .container .row .col{
    width: calc(100% / 3);
    margin: 0 0 25px;
  }

  #demo .container .row .col:first-child{
    width: calc(100% / 1.5);
  }

  #testimonials .card .row{
    flex-wrap: nowrap;
  }

  #testimonials .card .col:first-child{
    width: 20%;
  }

  #testimonials .card .col:last-child{
    width: 80%;
  }

  #benefits .col{
    width: 50%;
  }

  #aboutus .col:first-child{
    width: 60%;
  }

  #aboutus .col:last-child{
    width: 40%;
  }

}

/* desktop */
@media (min-width: 1200px){
  .d-xl-none{
    display: none;
  }
  .d-xl-block{
    display: block;
  }
  .container{
    width: 1140px;
  }

  #strategic .col{
    width: 50%;
  }

  #benefits .col{
    width: calc(100% / 3);
  }

  #aboutus .col:first-child{
    width: 70%;
  }

  #aboutus .col:last-child{
    width: 30%;
  }
}