:root{
  --bg-purple: #9792e4;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  border: 1px solid black;
}

header{
  height: 75px;
  background-color: #0084fd;
}

body{
  font-family: 'PT Sans', sans-serif;
}

/* elementi generici */

.container{
  width: 100%;
  margin: 0 auto;
}

/* UTILITIES */

.d-flex{
  display: flex;
}

.wrap{
  flex-wrap: wrap;
}

.sp-between{
  justify-content: space-between;
}

.al-it-center{
  align-items: center;
}

.dir-col{
  flex-direction: column;
}

.pt-50{
  padding-top: 50px;
}
/* SEZIONI */

/* HEADER */

header .container{
  line-height: 75px;
  padding: 0 30px 0;
}

header .menu-desktop{
  display: none;
}

/* SERVICES */

#services .container{
  width: 100%;
}

#services .row .col{
  height: 400px;
  width: 100%;
  padding: 20px;
}

#services .row .col .content{
  background-color: #b5ddff;
  height: 100%;
  border-radius: 15%;
}


/* TEAMS */

#teams{
  background-color: var(--bg-purple);
}

#teams .container .col{
  height: 500px;
  width: 100%;
  padding: 0 20px 20px;
}

#teams .col .content{
  height: 100%;
  background-color: white;
}

/* TESTIMONIALS */

#testimonials{
  margin-bottom: 75px;
}

#testimonials .container .row{
  padding: 15px 0;
}

#testimonials .container .row .intro{
  padding: 0 20px;
  height: 200px;
}

#testimonials .container .row .col {
  padding: 0 20px;
}

#testimonials .container .row .col .card{
  height: 300px;
  background-color: var(--bg-purple);
  border-radius: 10%;

}

/* BENEFITS */

#benefits{
  background-color: var(--bg-purple);
  margin-bottom: 40px;
}

#benefits .container .row{
  padding: 15px 0;
}

#benefits .container .row .col {
  padding: 0 20px;
}

#benefits .container .row .col .card{
  height: 300px;
  background-color: white;
  border-radius: 10%;

}

/* ABOUT US */

#about-us .container .row .col {
  padding: 0 20px;
  height: 300px;
}

#about-us .container .row .col .content-about,
#about-us .container .row .col .profile-about{
  padding: 10px 0;
}

/* GET STARTED */




/* RESPONSIVE */

/* TABLET 768 PX */
@media screen and (min-width: 768px){
  .container{
    width: 768px;
    padding: 0;
  }
  .menu-mobile{
    display: none;
  }
  header .menu-desktop{
    display: block;
  }
  #services .row{
    flex-direction:row;
  }
  #services .row .col:nth-child(1){
    width: 60%;
  }
  #services .row .col:nth-child(2){
    width: 40%;
  }
}

@media screen and (min-width: 1200px){
  header .container{
    width: 90%;
    padding: 0;
  }
  .container{
    width: 1200px;
  }
}